body {
    margin:0;
    padding:0;
    background-color:#9032bb;
}
.titulo {
    color:white;
    opacity:0.7;
}
div {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}
h1, h3 {
    font-family:Arial;
    color: orange;
}
h1 {
    text-align:center;
    border: 4px dashed #20bcd5;
    padding: 10px;
}
.dat {
    padding:10px;
    margin:10px;
    border-radius:5px;
    color:white;
}
